<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DECA Store Inventory Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<header th:insert="top-navigation-bar :: navbar-content"> </header>
	<br>
	<br>

	<div class="container">
		<h2>you are not allowed to perform this action!</h2>
	</div>
</body>
</html>