<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DECA Store Inventory Management System</title>
<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

	<header th:insert="top-navigation-bar :: navbar-content"> </header>
	<br>
	<br>
	<div class="container">

		<div class="bg-light clearfix">
			<h1>
				<div class="float-left">Store Items List</div>
				<div class="float-right" th:if="${userCartContent != null}">
					<div class="d-flex">
						<a th:href="@{/checkout}">
						<div class="d-inline-block">Items in Cart:&nbsp;</div>
						<div class="d-inline-block"
							th:text=${#lists.size(userCartContent)}></div>
						</a>
					</div>
				</div>
			</h1>
		</div>
		
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<!-- <th> Id</th>  -->
					<th>SKU1</th>
					<th>Product Name</th>
					<th>Description</th>
					<th>Price (USD)</th>
					<th>Picture</th>
					<th>Updated On</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="catalogItem: ${catalogItems}">
					<td th:text="${catalogItem.sku}"></td>
					<td th:text="${catalogItem.productName}"></td>
					<td th:text="${catalogItem.ProductDesc}"></td>
					<td th:text="${catalogItem.price}"></td>
					<td><img
						th:src="@{/images/{image}(image=${catalogItem.itemPhotoName})}"
						class="rounded img-fluid thumbnail"></td>
					<td><span
						th:text="${#dates.format(catalogItem.lastUpdateDate, 'dd-MMM-yyyy HH:mm')}">No
							date found</span></td>
					<td><a
						th:href="@{/addToCart/{id}(id=${catalogItem.productId})}"
						class="btn btn-primary">Add To Cart</a></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


