<div th:fragment="navbar-content">
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">DECA Store Inventory Management
			System <br> Logged-in as User:
			[[${#httpServletRequest.remoteUser}]] !
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse justify-content-end"
			id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="btn btn-outline-light mr-2"
					href="/manage_users">Manage Users</a></li>
				<li class="nav-item ml-auto" style="margin-left: 10px;"></li>
					
				<li class="nav-item ml-auto">
					<form class="form-inline" th:action="@{/logout}" method="post">
						<button class="btn btn-outline-light" type="submit">Logout</button>
					</form>
				</li>
				<li class="nav-item ml-auto" style="margin-left: 10px;"></li>
			</ul>
		</div>
	</nav>
</div>